{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="{% static "img/logo.png" %}" type="image/x-icon">
    <link rel="stylesheet" href={% static 'css/profile/style.css' %}>
    
</head>
<body>
    <div class="container">
<div class="form-card">
     <!-- Logo -->
            <div class="login-logo">

                <div class="login-logo-icon">
                    N
                </div>

                <div class="login-logo-text">
                    <h2>NuChemist</h2>
                    <p>Pharmacy Management</p>
                </div>

            </div>
    <h1>Login</h1>
    <p class="subtitle">
        Sign in to your account
    </p>

    <form action="" method="post">
        {% csrf_token %}
        {{forms.as_p}}
        <button type="submit" class="btn">Submit</button>
    </form>
    {% if user.is_superuser %}
        <a href="{% url 'employee_registration' %}" class="admin-link">EMPLOYEE REGISTRATION</a>    
     {% endif %}
     </div>
    </div>
</body>
</html>