{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href={% static 'css/profile/style.css' %}>
</head>
<body>
    <div class="container">
<div class="form-card">
    <h1>Login</h1>
    <p class="subtitle">
        Sign in to your account
    </p>

    <form action="" method="post">
        {% csrf_token %}
        {{forms.as_p}}
        <button type="submit" class="btn">Submit</button>
    </form>
    {% if user.is_superuser %}
        <a href="{% url 'employee_registration' %}" class="admin-link">EMPLOYEE REGISTRATION</a>    
     {% endif %}
     </div>
    </div>
</body>
</html>