{% extends "layouts/card-layout.html" %} 
{% load static%}


{%block title%}
Suppliers
 {%endblock%} 
 {% block cardTitle %}
  Suppliers 
  {% endblock %} 
  {% block cardDesc %} 
  Manage Supplier Contacts
  {% endblock %} 
  {% block cardHeadText %} 
  All Suppliers
  {% endblock %} 
  
  {% block cardHeadBtn %}
<a href="{% url 'supplier_add' %}" class="add-page-btn">+ Add Supplier</a>
{% endblock %}

{% block cardContent %}

<table class="content-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th class="action-head" >Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for item in supplier %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.contact_person}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>

      <td class="action-cell" >
        <a href="{% url 'supplier_update' id=item.id %}" class="edit-btn">
          <img src="{% static 'img/pencil.png' %}" alt="" width="15" height = "15" />
        </a>
        <form
          action="{% url 'category_delete' id=item.id%}"
          method="post"
          onsubmit="
            return confirm('Are you sure you want to delete this category?')
          "
        >
          {% csrf_token %}
          <button type="submit" class="delete-btn">
            <img src="{% static 'img/bin.png' %}" alt="" width="15" height = "15" />
          </button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
                <td colspan="7" class="empty-message">
                    No suppliers found.
                </td>
            </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}