{% extends "layouts/layout.html" %} {% load static%} {%block title%} Supplier
Add {%endblock%} {% block content %}

<div class="form-page">
  <form method="POST" class="content-form" action="{% url 'supplier_add' %}">
    {% csrf_token %}
    <p>Add New Supplier</p>

    
    {% comment %}*** Name *** {% endcomment %}
    <div class="form-group">
    <label for="name">Name </label>
    <input type="text" id="name"
                name="name"
                placeholder="Enter supplier name"/>
    </div>


    {% comment %}*** Contact Person *** {% endcomment %}
    <div class="form-group">
    <label for="contact_person">Contact Person </label>
    <input type="text" id="contact_person"
                name="contact_person"
                placeholder="Enter  contact person"/>
    </div>


    {% comment %}*** Phone *** {% endcomment %}
    <div class="form-group">
    <label for="phone">Phone </label>
    <input type="text" id="phone"
                name="phone"
                placeholder="+91 *******"/>
    </div>


    {% comment %}*** Email *** {% endcomment %}
    <div class="form-group">
    <label for="email">Email </label>
    <input type="email" id="email"
                name="email"
                placeholder="abc@gmail.com"/>
    </div>
{% comment %}*** Address *** {% endcomment %}
    <div class="form-group">
    <label for="address">Address </label>
    <textarea
                id="address"
                name="address"
                placeholder="Enter supplier address"
            ></textarea>
    </div>

    
{% comment %}*** Action *** {% endcomment %}
    <div class="form-actions">
    <a href="{% url 'supplier_home' %} " class="cancel-btn">Cancel</a>
    <button type="submit" class="submit-btn">Add</button>
    </div>
  </form>
</div>

{% endblock %}
