{% extends 'layouts/layout.html' %}

    {% block content %} 


<div class="inner-content">
    <div class="heading-texts">
<h1>
    {% block cardTitle %}
    {% endblock %}

</h1>
<h2>
    {% block cardDesc %}
    {% endblock %}
</h2>
    </div>
    <div class="content-card">
    
    <div class="card-header">
    

        <p>{% block cardHeadText %} {% endblock %}</p>

        
    
        
    <div>
        {% block cardHeadBtn %}
    
        {% endblock %}
    </div>
</div>
<div class="table-container">

    {% block cardContent %}
    
    
    {% endblock %}
</div>
    
</div>
{% endblock %}

