{% extends "layouts/card-layout.html" %} 
{% load static%}


{%block title%}
Customers
 {%endblock%} 
 {% block cardTitle %}
  Customers 
  {% endblock %} 
  {% block cardDesc %} 
  Manage Customers Inventory
  {% endblock %} 
  {% block cardHeadText %} 
  All Customers
  {% endblock %} 
  
  {% block cardHeadBtn %}
<a href="{% url 'customer_add' %}" class="add-page-btn">+ Add Customers</a>
{% endblock %}

{% block cardContent %}
<table class="content-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      
      <th class="action-head" >Actions</th>
    </tr>
  </thead>

  <tbody>
     {% for item in customer %}
    <tr>
      <td>{{item.name}}</td>

      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      
      <td class="action-cell" >
        <div class="action-buttons">
        <a href="{% url 'customer_update' id=item.id %}" class="edit-btn">
          <img src="{% static 'img/pencil.png' %}" alt="" width="15" height = "15" />
        </a>
        <form
          action="{% url 'customer_delete' id=item.id%}"
          method="post"
          onsubmit="
            return confirm('Are you sure you want to delete this Customer?')
          "
        >
          {% csrf_token %}
          <button type="submit" class="delete-btn">
            <img src="{% static 'img/bin.png' %}" alt="" width="15" height = "15" />
          </button>
        </form>
      </div>
      </td>
    </tr>
    
    {% empty %}
    <tr>
                <td colspan="7" class="empty-message">
                    No customers found.
                </td>
            </tr>
    {% endfor %}
    
   
  </tbody> 
</table>
{% endblock %}