* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-card {
    background: white;
    width: 100%;
    max-width: 420px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    margin-bottom: 8px;
    color: #222;
    font-size: 28px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

form p {
    margin-bottom: 18px;
}

form label {
    display: block;
    margin-bottom: 7px;
    font-weight: 600;
    color: #333;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 11px 12px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.2s;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #63C6A7;
}

form ul.errorlist {
    list-style: none;
    color: #dc2626;
    font-size: 13px;
    margin-bottom: 5px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 7px;
    background: #63C6A7;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
}

.btn:hover {
    background: #79dbbc;
}

.admin-link,
.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #63C6A7;
    text-decoration: none;
    font-size: 14px;
}

.admin-link:hover,
.back-link:hover {
    text-decoration: underline;
}

.helptext {
    display: block;
    margin-top: 5px;
    color: #777;
    font-size: 12px;
}

.form-error {
    background: #fee2e2;
    color: #b91c1c;
    padding: 10px 12px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* Login LOGO  */
.login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
}

.login-logo-icon {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    font-size: 24px;
    font-weight: 700;

    background: #63C6A7;
    color: white;
}

.login-logo-text {
    text-align: left;
}

.login-logo-text h2 {
    margin: 0;
    font-size: 22px;
}

.login-logo-text p {
    margin: 2px 0 0;
    font-size: 12px;
}